@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

.admin_info
{
    width: 450px;
    min-height: 500px;
    background-color: #1a1a29;
    background-image: url('https://i.imgur.com/MHlTfXq.png');
    border: 2px solid #cccccc20;
}

.admin_header_image
{
    background-image: url('https://sites.google.com/site/harrypotterstrona/_/rsrc/1479895734432/hogwart/El-hijo-de-Harry-Potter-comienza-las-clases-en-Hogwarts-demostrando-que-hasta-para-los-magos-pasa-el-tiempo-3.jpg');
    width: 100%;
    height: 250px;
    background-size: 100%;
    background-position: 50%;
}

.function_title
{
    font-size: 30px;
    font-family: Cinzel;
    color: #777d8b;
    text-shadow: #000 0px 0px 5px, #000 0px 0px 5px;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
}

.admin_content
{
    height: 188px;
    margin-bottom: 15px;
    background-color: #1f1a2550;
    outline-offset: 0px;
    outline: solid 1px #cccccc05;
}

.admin_img
{
    width: 115px;
    margin: auto;
    padding: 2px;
    padding: 2px;
    float: left;
    outline-offset: 0px;
    outline: solid 1px #cccccc20;
    margin-left: 1px;
}

.admin_text_overflow
{
    overflow-y: auto;
    float: left;
    width: 320px;
    font-size: 12px;
    height: 110px;
    color: #868686;
    text-align: justify;
    padding: 5px;
    font-family: Open Sans;
    line-height: 13px;
    margin-top: -10px;  
}

.admin_atitle_margin
{
    border-top: 1px solid #cccccc20;
    border-bottom: 1px solid #cccccc20;
    width: 75%;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    padding: 2px;
    margin-top: -5px;
}

.admin_desc
{
    color: #868686;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    text-shadow: #000 0px 0px 5px;
    font-size: 11px;
    font-family: Open Sans;
}

.admin_name
{
    font-family: Euphoria Script;
    text-align: center;
    position: relative;
    font-size: 28px;
    color: #777d8b;
    text-shadow: #000 0px 0px 5px; 
    width: 330px;
    float: left;
    margin-top: 10px;
    margin-bottom: -2px;
}

.admin_contact
{
    text-align: center;
    font-size: 12px;
    font-family: Open Sans;
    line-height: 22px;
    float: left;
    width: 330px;
    color: #777d8b;
}
