tag
{
    background-color: #1d5476;
    color: #f5f5f5
}

tag a:hover, tag a:link, tag a:visited
{
    color: #f5f5f5;
}

.wizi2, .wizi1
{
    outline: 5px solid #1d5476;
    border: 1px solid #ebebeb;
}

.wizp1
{
    background-image: url('https://i.imgur.com/T2W7cSG.png');
}

/* Felinus Faolan Lowell */