@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Zeyada&display=swap');

:root
{
    --journal-width: 430px;
    --journal-text-width: 400px;
    --journal-text-padding: 5px;
    --journal-text-background-color: #1e2833;
    --journal-text-font-family: 'Noto Sans';
    --journal-title-font-family: 'Zeyada';
    --journal-tytkam-background-color: #606060;
    --journal-title-text-shadow: #000 0 0 3px, 0 0 5px #000;
    --journal-title-color: #fff;
    --journal-text-color: #f0f8ff;
}

.journal_main {
    width: var(--journal-width);
    min-height: 525px;
    background-color: #1f1f1f90;
    background-image: url(https://i.imgur.com/UvYFkTo.png);
    border: 2px solid #cccccc10;
    border-radius: 3px
}

.journal_title {
    position: relative;
    color: var(--journal-title-color);;
    text-align: center;
    width: var(--journal-width);
    font-size: 50px;
    font-family: var(--journal-title-font-family);
    text-shadow: var(--journal-title-text-shadow);
}

.journal_background {
    width: var(--journal-width);
    height: 200px;
    background-image: url();
    background-size: 100%;
    border-radius: 3px 3px 0 0;
    margin-bottom: 15px
}

.journal_bottom_background {
    background-image: url(https://i.imgur.com/x9qrKaS.png);
    height: 30px;
    margin-bottom: 0px;
    background-position: 20% 60%;
    border-top: 1px solid #cccccc10;
    width: var(--journal-width);
    background-size: 100%;
    border-radius: 0 0 3px 3px;
}

.journal {
    width: var(--journal-width);
}

.journal_text {
    width: var(--journal-text-width);
    min-height: 140px;
    padding: var(--journal-text-padding);
    text-align: justify;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--journal-text-color);
    background-color: var(--journal-text-background-color);
    font-family: var(--journal-text-font-family);
    font-size: 11px;
    line-height: 16px
}

.journal_text_title {
    position: relative;
    color: var(--journal-title-color);;
    text-align: left;
    margin-left: 10px;
    margin-bottom: -15px;
    font-size: 30px;
    font-family: var(--journal-title-font-family);
    text-shadow: var(--journal-title-text-shadow);
}

.journal_text_overflow {
    overflow-y: auto;
    width: var(--journal-text-width);
    height: 140px;
    padding: var(--journal-text-padding);
    text-align: justify;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--journal-text-color);
    background-color: var(--journal-text-background-color);
    font-family: var(--journal-text-font-family);
    font-size: 11px;
    line-height: 16px
}

.journal_content {
    margin: auto;
    width: 70%;
    height: 25px;
    line-height: 25px;
    background-color: #202f3b;
    text-transform: lowercase;
    font-family: var(--journal-text-font-family);
    color: var(--journal-text-color);
    font-size: 12px;
    margin-top: 1px;
    transition: 1s;
}

.journal_content:hover {
    filter: brightness(1.2);
    transition: 1s;
}

.journal_text_overflow a,
.journal_text a {
    color: #98aebb
}

zgs {
    color: #6393b3fc;
}

.tytkam span {
    background-color: var(--journal-tytkam-background-color);
}

.tytkam {
    border-color: var(--journal-tytkam-background-color);
}

/* (c) Felinus Faolan Lowell */