@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

.lycanthropy_main {
    width: 500px;
    min-height: 525px;
    background-color: rgb(43 35 35 / 56%);
    background-image: url();
    border: 2px solid #cccccc10;
}

.lycanthropy_background {
    width: 500px;
    height: 200px;
    background-image: url(https://i.imgur.com/2w4B3qt.jpg);
    background-size: 100%;
    margin-bottom: 15px;
    opacity: 0.9;
}

.lycanthropy_title
{
    font-family: "Redressed";
    text-shadow: #000 1px 1px;
}